.input-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

#input-add {
  background-color: rgba(34, 46, 62, 1);
  border: none;
  border-radius: 5px;
  padding: 11px 16px;
  width: 100%;
  max-width: 210px;
  color: #ffff;
}

#add-button {
  background-color: transparent;
  border: 2px solid rgba(112, 65, 255, 1);
  border-radius: 5px;
  padding: 8px 16px;
  color: #ffff;
  font-weight: 600;
}

#add-button:enabled:hover {
  transition: 300ms;
  background-color: rgba(112, 65, 255, 1);
  cursor: pointer;
}

#add-button:disabled{
  border: 2px solid rgba(113, 65, 255, 0.295);
  color: #ffffff48;
}

#add-button:enabled{
  transition: 300ms;
}

.icon-container{
  display: flex;
    gap: 5px;
    align-items: center;
}