.task-container{
    display: flex;
    margin: 10px auto;
    padding: 15px 20px;
    align-items: center;
    border: none;
    border-radius: 5px;
    justify-content: space-between;
    background-color: rgba(34, 46, 62, 1);
  }
  
  .task-title{
    color: #ffff;
    margin: 8px auto;
    padding: 10px 12px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .delete-button{
    background-color: rgba(112, 65, 255, 1);
    border: none;
    border-radius: 5px;
    padding: 10px 12px;
    color: #ffff;
    font-size: 0.9rem;
  }

  .delete-button:hover{
    transition: 200ms;
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .checkbox-task{
    background-color: transparent;
    border: 2px solid rgba(112, 65, 255, 1);
  }


  .task-list {
    list-style-type: none;
    padding: 0;
  }