.button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.button-style { 
    border: 2px solid rgba(241, 244, 249, 1);
    padding: 10px 16px;
    color: rgba(0, 190, 128, 1);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 15px;
    background: none;
}

.button-style:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-color: rgba(0, 190, 128, 1);
}

.button-style:active{
    color: rgba(241, 244, 249, 1);
    background: rgba(0, 190, 128, 1);
}


.button-style2 { 
    border: 2px solid rgba(241, 244, 249, 1);
    padding: 10px 35px;
    color: rgba(0, 190, 128, 1);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 15px;
    background: none;
    margin: 0 15px;
}

.button-style2:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-color: rgba(0, 190, 128, 1);
}
.button-style2:active{
    color: rgba(241, 244, 249, 1);
    background: rgba(0, 190, 128, 1);
}
