.counter-container {
    display: flex;
    border-radius: 25px;
    min-width: 90px;
    padding: 5px 15px;
    border: 2px solid rgba(241, 244, 249, 1);
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.counter-container:hover{
    cursor: default;
}

h2 {
    color: rgba(0, 190, 128, 1);
    margin: 0 auto;
    font-size: 5rem;
}