.counter-container {
    display: flex;
    border-radius: 20px;
    min-width: 80px;
    padding: 5px 15px;
    border: 2px solid rgba(241, 244, 249, 1);
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.counter-container:hover{
    cursor: default;
}

h2 {
    color: rgba(0, 190, 128, 1);
    margin: 0 auto;
    font-size: 4rem;
}