:root {
	font-family: 'Source Sans 3', sans-serif;

	/* background colors */
	
	--color-grass: #49D0B0;
	--color-fire: #FB6D6C;
	--color-water: #76BDFE;
	--color-bug: #98da4e;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-steel: #9eb7b8;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #2bbbe7;
	--color-flying: #3d66ef;
	--color-ghost: #4d5b64;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #292929;
	--color-dragon: #d52323 ;
	--color-electric: rgb(255, 230, 0);
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	/* Type colors */

}

body {
	height: 100vh;
}
