:root {
  font-family: 'Onest', sans-serif;

  background-color: rgba(255, 217, 62, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 217, 62, 1);
}

#app {
  background-color: #ffff;
  width: fit-content;
  height: fit-content;
  max-width: 450px;
  max-height: 850px;
  margin: 20px auto;
  border-radius: 30px;
  border: 8px solid #272D39;
  box-shadow: 97px 128px 120px 0px rgba(206, 152, 13, 0.62);
  text-align: center;
  padding: 0 20px 20px;
}

/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 20px;
} */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(250, 149, 32, 1);;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  .loading-msn {
    font-size: 20px;
    color: #272D39;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 




@media (max-width : 480px) {
  
  #app {
    margin: 20px 30px;
    border-radius: 20px;
    border: 6px solid #272D39;
  }

}