.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgba(34, 46, 62, 1);
    border-radius: 10px;
    padding: 10px 15px; 
}

.counter-container h3 {
    color: rgba(255, 255, 255, 0.342);
    font-size: 16px;
}

#clear-all-btn {
    background-color: transparent;
    border: none;
    background-color: rgba(112, 65, 255, 1);
    border-radius: 5px;
    padding: 8px 10px;
    color: #ffff;
    font-weight: 600;
}

#clear-all-btn:hover {
    cursor: pointer;
}